<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />

<!-- SEO -->

    <meta name="description" content="catálogo completo de camisetas de fútbol para hombres, mujeres y niños">

    <meta name="keywords" content="camisetas, futbol, selecciones, envios">

    <meta name="author" content="Leo Escribano">



    <!-- favicon -->

    <link rel="shortcut icon" href="../img/favicon.png" />

    <!-- Bootstrap CCS - bootstrap.min.css -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- MI CSS -->

    <link rel="stylesheet" href="../css/style.css" />

    <title>Camisetas oficiales de equipos de fútbol</title>

</head>

<body>

    <!-- NAV BAR - INICIO -->

    <nav class="navbar navbar-expand-md" id="botonera">
    <div class="container-fluid" id="font-nav">
        <a class="navbar-brand" href="../index.html"><img class="" src="../img/logo.jpg" alt="logo de CASACASHOP" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../views/catalogo.html">CATÁLOGO</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-black" href="../views/mujeres.html">MUJERES</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-black" href="../views/ninos.html">NIÑOS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-black" href="../views/contacto.html">CONTACTO</a>
            </li>
        </ul>
        <form class="d-flex me-auto" role="search">
            <input class="form-control me-2 border border-secondary" type="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">BUSCAR</button>
        </form>
        </div>
    </div>
    </nav>

    <!-- CIERRA NAV BAR -->

    <header>
    
        <div class="card border border-success rounded-2">
        <p class="card-header bg-black text-white text-center border border-success rounded-2">
            ENVÍOS GRATIS A TODO EL PAÍS A PARTIR DE $9.999 - 3,6 y 12 CUOTAS SIN
            INTERÉS
        </p>
        </div>
    </header>

    <main class="bg-dark mt-2">
        <div class="tituloMujeres"> CATÁLOGO COMPLETO</div>
        <div class="row m-3">
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/indep.jpg" alt="camiseta adulto independiente"><p class="mt-2 text-white text-center">CLUB ATLÉTICO INDEPENDIENTE</p><p class="mt-2 text-white text-center">PRECIO: $12.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/racing.jpg" alt="camiseta adulto racing"><p class="mt-2 text-white text-center">RACING CLUB</p><p class="mt-2 text-white text-center">PRECIO: $9.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/boca.jpg" alt="camiseta adulto boquita"><p class="mt-2 text-white text-center">BOCA JUNIORS</p><p class="mt-2 text-white text-center">PRECIO: $5.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/river.jpg" alt="camiseta adulto river"><p class="mt-2 text-white text-center">RIVER PLATE</p><p class="mt-2 text-white text-center">PRECIO: $11.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/sanlo.jpg" alt="camiseta adulto san lorenzo"><p class="mt-2 text-white text-center">SAN LORENZO</p><p class="mt-2 text-white text-center">PRECIO: $4.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/psg.jpg" alt="camiseta adulto paris"><p class="mt-2 text-white text-center">PARIS SAINT-GERMAIN (PSG)</p><p class="mt-2 text-white text-center">PRECIO: $14.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/realmad.jpg" alt="camiseta adulto real madrid"><p class="mt-2 text-white text-center">REAL MADRID</p><p class="mt-2 text-white text-center">PRECIO: $11.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/barca.jpg" alt="camiseta adulto barcelona"><p class="mt-2 text-white text-center">F.C. BARCELONA</p><p class="mt-2 text-white text-center">PRECIO: $9.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/argentina.jpg" alt="camiseta adulto scaloneta"><p class="mt-2 text-white text-center">SELECCIÓN ARGENTINA</p><p class="mt-2 text-white text-center">PRECIO: $8.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/alemania.jpg" alt="camiseta adulto alemania"><p class="mt-2 text-white text-center">SELECCIÓN DE ALEMANIA</p><p class="mt-2 text-white text-center">PRECIO: $8.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/espana.jpg" alt="camiseta adulto spain"><p class="mt-2 text-white text-center">SELECCIÓN DE ESPAÑA</p><p class="mt-2 text-white text-center">PRECIO: $8.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/manutd.jpg" alt="camiseta adulto manchester"><p class="mt-2 text-white text-center">MANCHESTER UNITED</p><p class="mt-2 text-white text-center">PRECIO: $12.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/juve.jpg" alt="camiseta adulto juventus"><p class="mt-2 text-white text-center">JUVENTUS</p><p class="mt-2 text-white text-center">PRECIO: $6.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/napoli.jpg" alt="camiseta adulto napoli"><p class="mt-2 text-white text-center">NAPOLI</p><p class="mt-2 text-white text-center">PRECIO: $7.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/milan.jpg" alt="camiseta adulto milan"><p class="mt-2 text-white text-center">A.C. MILÁN </p><p class="mt-2 text-white text-center">PRECIO: $10.999</p></article>
            <article class=" col-sm-12 col-md-6 col-lg-3"> <img class="transformacion w-100 rounded-5" src="../img/bayern.jpg" alt="camiseta adulto bayern"><p class="mt-2 text-white text-center">BAYERN MUNICH</p><p class="mt-2 text-white text-center">PRECIO: $11.999</p></article>
        </div>

    </main>

    <footer class="py-3 bg-black text-center text-white container-fluid">
        <div class="mb-3">
        <a class="text-deco" href="https://facebook.com" target="_blank">
        <img id="redes" src="../img/logo-facebook.png" alt="logotipo de facebook" />
        </a>
        <a id="redes" href="https://instagram.com" target="_blank">
        <img id="redes" src="../img/logo-insta.png" alt="logotipo de instagram" />
        </a>
        </div>
        
        <h6 class="text-white">
        GRAL. GÜEMES 897 (ALTO AVELLANEDA) - LOCAL 10 - LUNES A VIERNES DE 10 A
        20 HORAS. TEL:4222-2222
        </h6>
        
        </footer>

<!-- JS - bootstrap.min.js -->
<script src="../js/bootstrap.min.js"></script>

    </body>
</html>
    