<!DOCTYPE html>
<html lang="es">
    
    <head> 
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
        <title>Camisetas oficiales de equipos de fútbol</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="shortcut icon" href="../img/favicon.png">
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body class="contenedorGrid-contacto bodyContact">

        <nav id="mainNav">
            <a href="../index.html">
                <img class="logoAnimado" src="../img/logo.jpg" alt="logo de CASACASHOP">
            </a>
            <ul>
                <li>
                    <a href="catalogo.html">CATÁLOGO</a>
                </li>
                <li>
                    <a href="mujeres.html">MUJERES</a>
                </li>
                <li>
                    <a href="ninos.html">NIÑOS</a>
                </li>
                <li>
                    <a href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>

        <div class="textCenter">
            <p class="boxEncabezado textBold textWhite bgDark"> ENVÍOS GRATIS A TODO EL PAÍS A PARTIR DE $9.999 - 3,6 y 12 CUOTAS SIN INTERÉS</p>
        </div>
        
        <main id="main" class="containerContact">
            <div class="marginBottom">

                <h1 class="textDark contactTitle">CONTACTO</h1>
            <div class="contact-wrapper animated bounceInUp">
                
                <div class="contact-form gradiente">
                    <h3 class="titleTable">Escribinos</h3>
                    <form action="">
                        <p>
                            <label>Nombre:</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label>Correo electrónico:</label>
                            <input type="email" name="email">
                        </p>
                        <p class="block">
                            <label>Dejanos tu mensaje:</label> 
                            <textarea name="mensaje" rows="1"></textarea>
                        </p>
                        <p class="block">
                            <button class="transformacion">
                                Enviar
                            </button>
                        </p>
                    </form>
                </div>
                <div class="contact-info">
                    <h4>Más información:</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Alto Avellaneda - LOCAL 10</li>
                        <li><i class="fas fa-phone"></i> (011) 4222-2222</li>
                        <li><i class="fas fa-envelope-open-text"></i> info@casacashop.com.ar</li>
                    </ul>
                </div>
            </div>
    
        </div>
    
        </main>

        <footer id="footer"class="bgDark marginTop boxFooter">
            <div>
            <a  class="textDeco" href="https://facebook.com" target="_blank">
            <img class="iconSize" class="iconSize" src="../img/logo-facebook.png" alt="logotipo de facebook" />
            </a>
            <a href="https://instagram.com" target="_blank">
            <img class="iconSize" src="../img/logo-insta.png" alt="logotipo de instagram" />
            </a>
            </div>

            <h6 class="textWhite" id="textFooter"> GRAL. GÜEMES 897 (ALTO AVELLANEDA) - LOCAL 10 - LUNES A VIERNES DE 10 A 20 HORAS. TEL:4222-2222
            </h6>
        </footer>
        
    </body>
</html>