<!DOCTYPE html>
<html lang="es">

    <head> 
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
        <title>Camisetas oficiales de equipos de fútbol</title>
        <link rel="shortcut icon" href="../img/favicon.png">
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body class="contenedorGrid-cmn">
        <nav id="mainNav">
            <a href="../index.html">
                <img class="logoAnimado" src="../img/logo.jpg" alt="logo de CASACASHOP">
            </a>
            <ul>
                <li>
                    <a href="catalogo.html">CATÁLOGO</a>
                </li>
                <li>
                    <a href="mujeres.html">MUJERES</a>
                </li>
                <li>
                    <a href="ninos.html">NIÑOS</a>
                </li>
                <li>
                    <a href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    
    <header class="header">
        <div class="textCenter">
            <p class="boxEncabezado textBold textWhite bgDark"> ENVÍOS GRATIS A TODO EL PAÍS A PARTIR DE $9.999 - 3,6 y 12 CUOTAS SIN INTERÉS</p>
        </div>
    </header>

    <main class="main gradiente marginTop">
        <div class="tituloMujeres textWhite">CAMISETAS PARA MUJER</div>
        <div class="containerMujeres textWhite">
            <div class="caja caja1"> <img src="../img/mujer_indep.jpg" alt="camiseta mujer independiente"><p class="marginTop">CLUB ATLÉTICO INDEPENDIENTE</p><p>PRECIO: $6.999</p></div>
            <div class="caja caja2"> <img src="../img/mujer_racing.jpg" alt="camiseta mujer racing"><p class="marginTop">RACING CLUB</p><p>PRECIO: $6.999</p></div>
            <div class="caja caja3"> <img src="../img/mujer_boke.jpg" alt="camiseta mujer boca"><p class="marginTop">CLUB ATLÉTICO BOCA JUNIORS</p><p>PRECIO: $4.999</p></div>
            <div class="caja caja4"> <img src="../img/mujer_river.jpg" alt="camiseta mujer river"><p class="marginTop">CLUB ATLÉTICO RIVER PLATE</p><p>PRECIO: $8.999</p></div>
            <div class="caja caja5"> <img src="../img/mujer_sanlo.jpg" alt="camiseta mujer san lorenzo"><p class="marginTop">CLUB ATLÉTICO SAN LORENZO</p><p>PRECIO: $4.999</p></div>
            <div class="caja caja6"> <img src="../img/mujer_edlp.jpg" alt="camiseta mujer estudiantes de la plata"><p class="marginTop">ESTUDIANTES DE LA PLATA</p><p>PRECIO: $9.999</p></div>
            <div class="caja caja7"> <img src="../img/mujer_velez.jpg" alt="camiseta mujer velez"><p class="marginTop">VÉLEZ SARSFIELD</p><p>PRECIO: $6.999</p></div>
            <div class="caja caja8"> <img src="../img/mujer_aaaj.jpg" alt="camiseta mujer argentinos juniors"><p class="marginTop">ARGENTINOS JUNIORS</p><p>PRECIO: $4.999</p></div>
            <div class="caja caja9"> <img src="../img/mujer_rosario.jpg" alt="camiseta mujer rosario central"><p class="marginTop">ROSARIO CENTRAL</p><p>PRECIO: $9.999</p></div>
        </div>
    </main>

    <footer class="footer bgDark marginTop boxFooter">
        <div>
        <a  class="textDeco" href="https://facebook.com" target="_blank">
        <img class="iconSize" class="iconSize" src="../img/logo-facebook.png" alt="logotipo de facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
        <img class="iconSize" src="../img/logo-insta.png" alt="logotipo de instagram" />
        </a>
        </div>

        <h6 class="textWhite" id="textFooter"> GRAL. GÜEMES 897 (ALTO AVELLANEDA) - LOCAL 10 - LUNES A VIERNES DE 10 A 20 HORAS. TEL:4222-2222
        </h6>
    </footer>
    
</body>
</html>