<!DOCTYPE html>
<html lang="es">

    <head> 
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
        <title>Camisetas oficiales de equipos de fútbol</title>
        <link rel="shortcut icon" href="../img/favicon.png">
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body class="contenedorGrid-cmn">
        <nav id="mainNav">
            <a href="../index.html">
                <img class="logoAnimado" src="../img/logo.jpg" alt="logo de CASACASHOP">
            </a>
            <ul>
                <li>
                    <a href="catalogo.html">CATÁLOGO</a>
                </li>
                <li>
                    <a href="mujeres.html">MUJERES</a>
                </li>
                <li>
                    <a href="ninos.html">NIÑOS</a>
                </li>
                <li>
                    <a href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    
    <header class="header">
        <div class="textCenter">
            <p class="boxEncabezado textBold textWhite bgDark"> ENVÍOS GRATIS A TODO EL PAÍS A PARTIR DE $9.999 - 3,6 y 12 CUOTAS SIN INTERÉS</p>
        </div>
    </header>

    <main class="main gradiente marginTop">
        <div class="tituloMujeres textWhite">OPORTUNIDADES</div>
        <div class="containerMujeres textWhite">
            <div class="caja caja1"> <img src="../img/westham-opo.jpg" alt="camiseta adulto west ham"><p class="marginTop">WEST HAM UNITED (ING)</p><p>PRECIO: $3.999</p></div>
            <div class="caja caja2"> <img src="../img/celtic-opo.png" alt="camiseta adulto celtic"><p class="marginTop">CELTIC (ESC)</p><p>PRECIO: $5.999</p></div>
            <div class="caja caja3"> <img src="../img/betis-opo.jpg" alt="camiseta adulto betis"><p class="marginTop">BETIS (ESP)</p><p>PRECIO: $3.999</p></div>
            <div class="caja caja4"> <img src="../img/francia-opo.jpg" alt="camiseta adulto francia"><p class="marginTop"> SELECCIÓN FRANCESA</p><p>PRECIO: $6.999</p></div>
            <div class="caja caja5"> <img src="../img/palmeiras-opo.jpg" alt="camiseta adulto san lorenzo"><p class="marginTop">PALMEIRAS (BRA)</p><p>PRECIO: $5.999</p></div>
            <div class="caja caja6"> <img src="../img/monterrey-opo.jpg" alt="camiseta adulto monterrey"><p class="marginTop">MONTERREY (MEX)</p><p>PRECIO: $7.999</p></div>
        </div>
    </main>

    <footer class="footer bgDark marginTop boxFooter">
        <div>
        <a  class="textDeco" href="https://facebook.com" target="_blank">
        <img class="iconSize" class="iconSize" src="../img/logo-facebook.png" alt="logotipo de facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
        <img class="iconSize" src="../img/logo-insta.png" alt="logotipo de instagram" />
        </a>
        </div>

        <h6 class="textWhite" id="textFooter"> GRAL. GÜEMES 897 (ALTO AVELLANEDA) - LOCAL 10 - LUNES A VIERNES DE 10 A 20 HORAS. TEL:4222-2222
        </h6>
    </footer>
    
</body>
</html>