<!DOCTYPE html>
<html lang="es">

    <head> 
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
        <title>Camisetas oficiales de equipos de fútbol</title>
        <link rel="shortcut icon" href="../img/favicon.png">
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body class="contenedorGrid-cmn">
        <nav id="mainNav">
            <a href="../index.html">
                <img class="logoAnimado" src="../img/logo.jpg" alt="logo de CASACASHOP">
            </a>
            <ul>
                <li>
                    <a href="catalogo.html">CATÁLOGO</a>
                </li>
                <li>
                    <a href="mujeres.html">MUJERES</a>
                </li>
                <li>
                    <a href="ninos.html">NIÑOS</a>
                </li>
                <li>
                    <a href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    
    <header class="header">
        <div class="textCenter">
            <p class="boxEncabezado textBold textWhite bgDark"> ENVÍOS GRATIS A TODO EL PAÍS A PARTIR DE $9.999 - 3,6 y 12 CUOTAS SIN INTERÉS</p>
        </div>
    </header>

    <main class="main gradiente marginTop">
        <div class="tituloMujeres textWhite">CAMISETAS RETRO-CLÁSICAS</div>
        <div class="containerMujeres textWhite">
            <div class="caja caja1"> <img src="../img/pbajos-retro.jpg" alt="camiseta holanda 1994"><p class="marginTop">SELECCIÓN DE PAÍSES BAJOS (1994)</p><p>PRECIO: $12.999</p></div>
            <div class="caja caja2"> <img src="../img/indep-retro.png" alt="camiseta independiente bochini"><p class="marginTop">INDEPENDIENTE (1984)</p><p>PRECIO: $9.999</p></div>
            <div class="caja caja3"> <img src="../img/napoli-retro.jpg" alt="camiseta napoli maradona"><p class="marginTop">NAPOLI (1988)</p><p>PRECIO: $7.999</p></div>
            <div class="caja caja4"> <img src="../img/fiore-retro.jpg" alt="camiseta fiorentina retro"><p class="marginTop">FIORENTINA (1998)</p><p>PRECIO: $9.999</p></div>
            <div class="caja caja5"> <img src="../img/arg-retro.jpg" alt="camiseta retro argentina"><p class="marginTop">SELECCIÓN ARGENTINA (1978)</p><p>PRECIO: $12.999</p></div>
            <div class="caja caja6"> <img src="../img/brasil-retro.jpg" alt="camiseta retro inglaterra"><p class="marginTop"> SELECCIÓN DE INGLATERRA (1992)</p><p>PRECIO: $9.999</p></div>
        </div>
    </main>

    <footer class="footer bgDark marginTop boxFooter">
        <div>
        <a  class="textDeco" href="https://facebook.com" target="_blank">
        <img class="iconSize" class="iconSize" src="../img/logo-facebook.png" alt="logotipo de facebook" />
        </a>
        <a href="https://instagram.com" target="_blank">
        <img class="iconSize" src="../img/logo-insta.png" alt="logotipo de instagram" />
        </a>
        </div>

        <h6 class="textWhite" id="textFooter"> GRAL. GÜEMES 897 (ALTO AVELLANEDA) - LOCAL 10 - LUNES A VIERNES DE 10 A 20 HORAS. TEL:4222-2222
        </h6>
    </footer>
    
</body>
</html>